= javascript_include_tag '//www.google.com/jsapi', 'chartkick'

= line_chart [{name: "WFH", data: [["Campaign::Launched", 81], ["Campaign::PreLaunch", 58]], color: 'rgb(48, 196, 28)', library: {lineTension: 0}}]